
  /* selector {property:value;} */
nav {border: 1px solid blue;}

  #indexpage .mainnavigation li:nth-child(1){background-color: #300E97;}
  #aboutpage .mainnavigation li:nth-child(2){background-color: #300E97;}
  #portfoliopage .mainnavigation li:nth-child(3){background-color: #300E97;}
  #contactherpage .mainnavigation li:nth-child(4){background-color: #300E97;}

  #snowflakeContainer {
      position: absolute;
      left: 0px;
      top: 0px;
  }
  .snowflake {
      padding-left: 15px;
      font-family: cursive;
      font-size: 24px;
      line-height: 24px;
      position: fixed;
      color: ##00ffff;
      user-select: none;
      z-index: 100;
  }
  .snowflake:hover {
      cursor: default;
  }
.class { background-color: #f4ff0ff; }
  .fa {
      padding: 10px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
  }
 * {
    box-sizing: border-box;
}

body {
    background-color: #fffff0;
    padding: 20px;
    font-family: cursive;
}


.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
text-align: center;
    font-family: 'Griffy', cursive;
    font-size: 70px;
    color: MediumSlateBlue;
     text-shadow: 4px 3px lavender;
    word-break: break-all;
}

h2 {
text-align: center;
    font-family: 'Griffy', cursive;
    font-size: 50px;
color: SlateBlue;
 text-shadow: 3px 2px lavender;
    word-break: break-all;
}

h3 {
text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
color: MediumPurple;
 text-shadow: 3px 2px lavender;
    word-break: break-all;
}
p{
  text-align: justify;
  font-family: 'Raleway', sans-serif;
    font-style: normal;
      color: indigo;
}

.row {
    margin: 8px -16px;
}


.row,
.row > .column {
    padding: 8px;
}


.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: #fffff0;
    padding: 10px;
}


@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}


@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  .fa:hover {
      opacity: 0.3;
  }

  /* Instagram */
  .fa-instagram {
      background: #df27c9;
      color: white;
  }

  /* Twitter */
  .fa-twitter {
      background: #55ACEE;
      color: white;
  }
  /* Facebook */
  .fa-facebook {
      background: #3B5998;
      color: white;
  }

  /* LinkedIn */
  .fa-linkedin {
      background: #0E76A8;
      color: white;
  }

  /*feedback page */
  .lavenderbg {background-color: lavender ;}

  .feedbackform {padding: 100px;}

body {background-image: }
