
  /* selector {property:value;} */
nav {border: 1px solid blue;}

  #indexpage .mainnavigation li:nth-child(1){background-color: #300E97;}
  #aboutpage .mainnavigation li:nth-child(2){background-color: #300E97;}
  #portfoliopage .mainnavigation li:nth-child(3){background-color: #300E97;}
  #contactherpage .mainnavigation li:nth-child(4){background-color: #300E97;}

.class { background-color: #f4ff0ff; }
  .fa {
      padding: 10px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
  }
 * {
    box-sizing: border-box;
}

body {
    background-color: #fffff0;
    padding: 20px;
    font-family: fantasy;
}


.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}


.row,
.row > .column {
    padding: 8px;
}


.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: #fffff0;
    padding: 10px;
}


@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}


@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  .fa:hover {
      opacity: 0.3;
  }

  /* Instagram */
  .fa-instagram {
      background: #df27c9;
      color: white;
  }

  /* Twitter */
  .fa-twitter {
      background: #55ACEE;
      color: white;
  }
  /* Facebook */
  .fa-facebook {
      background: #3B5998;
      color: white;
  }

  /* LinkedIn */
  .fa-linkedin {
      background: #0E76A8;
      color: white;
  }

  /*feedback page */
  .tealbg {background-color: teal ;}

  .feedbackform {padding: 100px;}

body {background-image: }
